/* General */

@charset "utf-8";

/* Element-wide */

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12pt;
    left: 0;
    right: 0;
    margin: 0;
    background-color: white;
}

/* Reusable */

#wrapper {
    margin: 0 auto;
    width: 98%;
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menulink {
    text-align: center;
}

.menulink a {
    text-decoration: none;
    color: #27247b;
    font-size: 16pt;
}

/* Specific IDs */

#menuMainHeading {
    font-size: 28pt;
    font-weight: bold;
    color: #27247b;
}

#logoutButton {
    text-decoration: underline;
    color: black;
    font-weight: bold;
}

#footer td {
    height: 30px;
}

#loginInputTable {
    width: 100%;
    padding: 20px;
    padding-top: 50px;
    margin-top: 10%;
    border-width: 2px;
    border-style: solid;
    border-color: lightslategray;
    border-radius: 10px;
}